@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: clip;

    background: url(/pacote-d013/pacote-d013/imagens/fundo-madeira.jpg) no-repeat top center;
    background-color: black;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;

    background: url(/pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat;
    
    
}