@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    background: url(/pacote-d013/pacote-d013/imagens/fundo-madeira.jpg);
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 307px;

    
    background: url(/pacote-d013/pacote-d013/imagens/frame-iphone.png) no-repeat top center;
    
    
}

iframe#tela{
    position: absolute;
    top: 80px;
    right: 20px;

    height: 471px;
    width: 267px;
    
    
}

section#redessociais{
    text-align: right;
}

section#redessociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
    box-sizing: border-box; /* para a borda fazer parte do tamanho*/

}

section#redessociais img:hover{
    border: 2px solid white;
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
    transition: transform 0.3s, border 0.2s;
}