@charset "UTF-8";

       *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        
        img{
            display: block;
            width: 100vw;
            
        }

        a{
            
            display: block;
            background-color: rgb(51, 51, 51);
            padding: 10px;
            text-decoration: none;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: bolder;
        }

        a:hover{
            background-color: rgb(29, 29, 29);
        }
